@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-muted {
    @apply text-neutral-500 font-medium;
  }

  .custom-border {
    @apply border border-x-neutral-200;
  }

  .custom-shadow {
    box-shadow: 0 0 2px 0 rgba(45, 45, 45, 0.2),
      0 4px 8px 0 rgba(45, 45, 45, 0.12), 0 8px 16px 0 rgba(45, 45, 45, 0.08);
  }

  .scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar::-webkit-scrollbar {
    display: none;
    appearance: none;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  /* Prevent breaking content inside elements */
  * {
    page-break-inside: auto;
    page-break-before: auto;
    page-break-after: auto;
  }

  #resumeContainer {
    zoom: 1 !important;
    padding: 10;
    border: none;
  }

  /* Optional: Define page size */
  @page {
    size: A4;
    margin: 0.6cm;
    margin-top: 0;
  }
}